@mixin title-s-en {
    font-weight: 300;
    font-family: 'Cormorant Garamond', serif;
    font-size: var(--ch_l_text);
    color: $gold_color;
    letter-spacing: 0.02em;
    line-height: 1;
}

@mixin para-ch {
    font-weight: 500;
    font-family: "Microsoft JhengHei", serif;
    font-size: var(--ch_s_text);
    letter-spacing: 0.1em;
    color: #313131;
    line-height: 2;

}

.team {

    width: 100%;
    height: calc(100vw*(9/16));


    .coporation {
        display: flex;
        align-items: center;
        width: 74%;
        height: 100%;
        margin: 0 auto;

        >div {
            display: flex;
            width: 100%;

            .imgBox {
                position: relative;
                width: 45vw;

                margin-right: 6vw;

                img {
                    position: relative;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    z-index: 2;
                }

                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    right: -1vw;
                    bottom: -1vw;
                    border: 1px solid $gold_color;
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 43%;


                .paraBox {
                    width: 100%;


                    .title {
                        position: relative;
                        margin-bottom: 3vw;

                        h2 {
                            @include title-s-en();

                            span {
                                font-family: 'Cormorant Garamond', serif;
                            }
                        }

                        .line {
                            position: absolute;
                            left: 0;
                            width: 8%;
                            height: 1px;
                            background-color: $gold_color;
                        }
                    }

                    .para {
                        p {
                            @include para-ch();
                        }
                    }


                }

                .nav {
                    pointer-events: auto;
                    margin-top: 3vw;
                    width: 100%;

                    ul {
                        display: flex;
                        width: 100%;

                        li {
                            @include para-ch();
                            font-size: var(--ch_m_text);
                            font-family: 'Noto Serif TC', serif;
                            line-height: normal;
                            font-weight: 700;
                            cursor: pointer;

                            a {
                                color: #000;
                            }
                        }

                        &> :not(:last-child) {
                            position: relative;
                            margin-right: 3vw;

                            &::after {
                                display: block;
                                content: "";
                                position: absolute;
                                width: 1px;
                                height: 80%;
                                top: 0;
                                bottom: 0;
                                margin: auto 0;
                                right: -1.5vw;
                                background-color: #1a1a1a;
                            }
                        }
                    }
                }

                .slogan {
                    display: flex;
                    justify-content: space-around;
                    width: 95%;
                    margin-top: 2vw;

                    img {
                        width: 21.2%;

                    }
                }
            }

            >img {
                position: absolute;
                right: 0.5vw;
                bottom: 0vw;
                width: 46%;
            }

        }




    }

    .designTeam {
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;


        .para-box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36.5%;

            .paraBox {
                width: fit-content;


                .title {
                    position: relative;
                    margin-bottom: 3vw;

                    h2 {
                        @include title-s-en();

                        span {
                            font-family: 'Cormorant Garamond', serif;
                        }
                    }

                    .line {
                        position: absolute;
                        left: 0;
                        width: 12%;
                        height: 1px;
                        background-color: $gold_color;
                    }
                }

                .para {

                    p {
                        width: fit-content;
                        @include para-ch();
                    }

                    & :nth-child(1) {
                        font-size: var(--ch_s_text);
                        font-weight: 600;
                        font-family: 'Noto Serif TC', serif;
                        color: #000;

                        span {
                            font-size: var(--ch_ml_text);
                            margin: 0 0.65vw;
                        }
                    }
                }


            }
        }

        .img-box {
            width: 61.5%;
            height: 100%;
            position: relative;

            >img {
                height: 100%;
                width: auto;
            }

            .imgBox {
                position: absolute;
                height: 94.3%;
                right: 18vw;
                bottom: 0;

                img {
                    height: 100%;
                    width: auto;
                }
            }

            .designer {
                position: absolute;
                right: 5.5vw;
                top: 12.5vw;

                p {
                    font-size: var(--ch_s_text);
                    letter-spacing: 0.1em;
                    font-weight: 600;
                    margin-bottom: 0.5vw;
                }

                img {
                    width: 10.75vw;
                }
            }
        }



        >img {
            position: absolute;
            left: 2.5vw;
            bottom: 0;
            width: 40%;
        }
    }

    .portfolio {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        .left {
            position: relative;
            width: 43%;
            height: 100%;

            .slice-bg {
                display: flex;
                justify-content: center;
                position: relative;
                width: 100%;
                height: 97%;
                z-index: 2;

                img {
                    will-change: transform;
                    -webkit-transform: translateZ(0);
                    -moz-transform: translateZ(0);
                    -ms-transform: translateZ(0);
                    -o-transform: translateZ(0);
                    transform: translateZ(0);
                    width: 7.5vw;
                    height: auto;
                    object-fit: contain;
                }

                & :nth-child(1),
                & :nth-child(3) {
                    align-self: flex-start;
                    margin-top: 10vw;
                }

                & :nth-child(2) {
                    margin: 4vw 3.65vw 0;
                    align-self: flex-start;
                }
            }

            .square-bg {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 100%;

                img {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: auto;
                    height: 95%;
                    will-change: transform;
                    -webkit-transform: translateZ(0);
                    -moz-transform: translateZ(0);
                    -ms-transform: translateZ(0);
                    -o-transform: translateZ(0);
                    transform: translateZ(0);
                }
            }

            .more {
                position: absolute;
                border: 1px solid $gold_color;
                padding: 0 2.2vw 0 0.9vw;
                width: fit-content;
                line-height: 1.8;
                cursor: pointer;
                right: 6.8vw;
                bottom: 4.43vw;
                pointer-events: auto;

                p {
                    @include para-ch();
                    color: $gold_color;
                    font-weight: 500;
                }

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                    right: 0.7vw;
                    width: 18%;
                    height: 1px;
                    background-color: $gold_color;
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                    right: 0.7vw;
                    width: 5%;
                    height: 1px;
                    background-color: $gold_color;
                    transform-origin: right center;
                    transform: rotate(35deg);
                }

                &:hover::after {
                    animation-name: more;
                    animation-duration: 1.5s;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

                &:hover::before {
                    animation-name: more2;
                    animation-duration: 1.5s;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }
            }
        }

        .right {
            width: 50%;
            margin-right: 6.8vw;
            padding-top: 4.7vw;

            .paraBox {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                margin-bottom: 4vw;

                .title {
                    width: 50%;
                    margin-bottom: 0.9vw;

                    h3 {
                        color: $gold_color;
                        font-size: var(--ch_m_text);
                        font-weight: 500;
                        text-align: end;
                        letter-spacing: 0.1em;
                        will-change: transform;
                        -webkit-transform: translateZ(0);
                        -moz-transform: translateZ(0);
                        -ms-transform: translateZ(0);
                        -o-transform: translateZ(0);
                        transform: translateZ(0);
                    }
                }

                .para {
                    width: 62%;

                    p {
                        @include para-ch();
                        font-size: var(--ch_xs_test);
                        font-weight: 600;
                        line-height: 1.5;
                        text-align: justify;
                        will-change: transform;
                        -webkit-transform: translateZ(0);
                        -moz-transform: translateZ(0);
                        -ms-transform: translateZ(0);
                        -o-transform: translateZ(0);
                        transform: translateZ(0);
                    }

                    & :nth-child(1) {
                        margin-bottom: 0.5vw;
                    }
                }
            }

            .imgBox {
                display: flex;
                justify-content: flex-end;
                position: relative;
                will-change: transform;
                -webkit-transform: translateZ(0);
                -moz-transform: translateZ(0);
                -ms-transform: translateZ(0);
                -o-transform: translateZ(0);
                transform: translateZ(0);

                img {
                    width: 40vw;
                }

                p {
                    position: absolute;
                    font-size: var(--ch_s_text);
                    font-weight: 900;
                    color: #000000c7;

                    span {
                        margin: 0 0.7vw;
                        font-size: var(--ch_ml_text);
                        color: $gold_color;
                        font-weight: 700;
                    }
                }

                .taipei {
                    left: 19vw;
                    top: -0.8vw;
                }

                .newTaipei {
                    left: 15.8vw;
                    top: 3.8vw;
                }

                .taoyuan {
                    left: 10.6vw;
                    top: 7.4vw;
                }
            }
        }

        .total {
            position: absolute;
            bottom: 8.6vw;
            right: 34.4vw;


            div {
                display: flex;
                align-items: center;
                overflow: hidden;

                p {
                    font-size: var(--ch_ml_text);
                    font-weight: 700;
                    color: #00303C;
                    letter-spacing: 0.02em;
                    will-change: transform;
                    -webkit-transform: translateZ(0);
                    -moz-transform: translateZ(0);
                    -ms-transform: translateZ(0);
                    -o-transform: translateZ(0);
                    transform: translateZ(0);
                }

                img {
                    margin: 0 1.59vw;
                    will-change: transform;
                    -webkit-transform: translateZ(0);
                    -moz-transform: translateZ(0);
                    -ms-transform: translateZ(0);
                    -o-transform: translateZ(0);
                    transform: translateZ(0);
                }
            }

            .case {
                img {
                    width: 6.42vw;
                }
            }

            .household {
                margin-top: 2.4vw;

                img {
                    width: 14.9vw;
                }
            }
        }
    }
}


.line {
    animation-name: line;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-delay: 1.5s;
    transform-origin: left center;
    transform: scaleX(0);
}

@keyframes line {


    100% {
        transform: scaleX(1);
    }
}