@mixin title-s-en {
    font-weight: 300;
    font-family: 'Cormorant Garamond', serif;
    font-size: var(--ch_l_text);
    color: $gold_color;
    letter-spacing: 0.02em;
    line-height: 1;
}

@mixin para-ch {
    font-weight: 500;
    font-family: "Microsoft JhengHei", serif;
    font-size: var(--ch_s_text);
    letter-spacing: 0.05em;
    color: #313131;
    line-height: 2;

}

.team {

    width: 100%;
    height: calc(100vw*(9/16));


    .coporation {
        display: flex;
        align-items: center;
        width: 74%;
        height: 100%;
        margin: 0 auto;

        >div {
            display: flex;
            width: 100%;

            .left {
                display: flex;
                justify-items: center;
                width: pxConvertor(773);

                margin-right: 6vw;

                >.imgBox {
                    position: relative;
                    width: 100%;


                    img {
                        position: relative;
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        z-index: 2;
                    }

                    &::after {
                        display: block;
                        content: "";
                        position: absolute;
                        z-index: 1;
                        width: 100%;
                        height: 100%;
                        right: -1vw;
                        bottom: -1vw;
                        border: 1px solid $gold_color;
                    }
                }

                .swiperBox {
                    position: relative;
                    width: pxConvertor(717);
                    height: pxConvertor(956.0712);


                    .imgBox {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        pointer-events: auto;
                        z-index: 5;

                        img {

                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }



                    }

                    .navBox {
                        display: flex;
                        justify-content: space-between;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto 0;
                        width: 100%;
                        height: 0;
                        padding: 0 0.5vw;
                        z-index: 10;

                        div {
                            cursor: pointer;
                            pointer-events: auto;
                            padding: 3vw 1vw;

                            img {
                                width: 1vw;
                                filter: drop-shadow(0 0 2px #000);
                            }
                        }

                        .prev {
                            img {
                                transform: rotateY(180deg);
                            }
                        }
                    }

                    &::after {
                        display: block;
                        content: "";
                        position: absolute;
                        z-index: 0;
                        width: 100%;
                        height: 100%;
                        right: -1vw;
                        bottom: -1vw;
                        border: 1px solid $gold_color;
                    }
                }

            }


            .right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 43%;


                .paraBox {
                    width: 100%;

                    .title {
                        position: relative;
                        margin-bottom: 3vw;

                        h2 {
                            @include title-s-en();

                            span {
                                font-family: 'Cormorant Garamond', serif;
                            }
                        }

                        .line {
                            position: absolute;
                            left: 0;
                            width: 8%;
                            height: 1px;
                            background-color: $gold_color;
                        }
                    }

                    .para {
                        width: 91%;

                        p {
                            @include para-ch();
                        }


                    }


                }

                .nav {

                    margin-top: 0.5vw;
                    width: 100%;

                    ul {
                        display: flex;
                        width: 100%;
                        pointer-events: auto;
                        padding: 1.5vw 0;

                        li {
                            @include para-ch();
                            font-size: pxConvertor(21);
                            font-family: 'Noto Serif TC', serif;
                            line-height: normal;
                            font-weight: 700;
                            cursor: pointer;

                            color: #000;
                            transition: color 0.2s;

                            a {
                                color: #000;
                                transition: color 0.2s;
                            }

                            &:hover a {
                                color: $gold_color;
                            }

                            &:hover {
                                color: $gold_color;
                            }
                        }

                        &> :not(:last-child) {
                            position: relative;
                            margin-right: 3vw;

                            &::after {
                                display: block;
                                content: "";
                                position: absolute;
                                width: 1px;
                                height: 80%;
                                top: 0;
                                bottom: 0;
                                margin: auto 0;
                                right: -1.5vw;
                                background-color: #1a1a1a;
                            }
                        }
                    }
                }

                .slogan {
                    display: flex;
                    justify-content: space-around;
                    width: 80%;
                    margin-top: 2vw;

                    img {
                        width: 21.2%;

                    }
                }
            }

            >img {
                position: absolute;
                right: 0.5vw;
                bottom: 0vw;
                width: 46%;
            }

        }

        .sunland {
            .right {
                .paraBox {
                    .para {
                        & :nth-child(1) {
                            font-size: pxConvertor(21);
                            font-weight: 600;
                        }
                    }
                }
            }
        }



    }

    .designTeam {
        display: flex;
        width: 92.5%;
        height: 100%;
        margin: 0 0 0 auto;
        position: relative;

        .para-box {
            width: 32%;
            margin: auto 0;

            .paraBox {
                width: 100%;


                .title {
                    position: relative;
                    margin-bottom: 3vw;

                    h2 {
                        @include title-s-en();

                        span {
                            font-family: 'Cormorant Garamond', serif;
                        }
                    }

                    .line {
                        position: absolute;
                        left: 0;
                        width: 12%;
                        height: 1px;
                        background-color: $gold_color;
                    }
                }

                .para {

                    p {
                        width: fit-content;
                        @include para-ch();
                    }



                    & :nth-child(1) {
                        font-size: var(--ch_s_text);
                        font-weight: 600;
                        font-family: 'Noto Serif TC', serif;
                        color: #000;


                        span {
                            font-size: var(--ch_ml_text);
                            margin: 0 0.65vw;
                        }
                    }

                    & :nth-child(2) {
                        font-size: pxConvertor(21);
                        font-weight: 700;
                        font-family: 'Noto Serif TC', serif;
                        color: #000;
                        margin: 1.5vw 0 0.5vw;
                    }
                }

                .paraSvg {
                    width: pxConvertor(500);

                    img {
                        width: 100%;
                    }
                }

            }
        }

        .img-box {
            width: 68%;
            height: 100%;
            position: relative;
            overflow: hidden;

            >img {
                height: 100%;
                width: auto;
            }

            .imgBox {
                position: absolute;
                height: 94.3%;
                right: 18vw;
                bottom: 0;

                img {
                    height: 100%;
                    width: auto;
                }
            }

            .designer {
                position: absolute;
                right: 5.5vw;
                top: 12.5vw;

                p {
                    font-size: var(--ch_s_text);
                    letter-spacing: 0.1em;
                    font-weight: 600;
                    margin-bottom: 0.5vw;
                }

                img {
                    width: 10.75vw;
                }
            }

            .fancyImg {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto 0;
                width: pxConvertor(1015);
                height: fit-content;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }



        >img {
            position: absolute;
            left: 2.5vw;
            bottom: 0;
            width: 40%;
        }

        .nav {

            margin-top: 2vw;
            width: 100%;

            ul {
                display: flex;
                width: 100%;

                li {
                    @include para-ch();
                    font-size: pxConvertor(21);
                    font-family: 'Noto Serif TC', serif;
                    line-height: normal;
                    font-weight: 700;
                    cursor: pointer;
                    pointer-events: auto;
                    color: #000;
                    transition: color 0.2s;

                    a {
                        color: #000;
                        transition: color 0.2s;
                    }

                    &:hover a {
                        color: $gold_color;
                    }

                    &:hover {
                        color: $gold_color;
                    }
                }

                &> :not(:last-child) {
                    position: relative;
                    margin-right: 3vw;

                    &::after {
                        display: block;
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 80%;
                        top: 0;
                        bottom: 0;
                        margin: auto 0;
                        right: -1.5vw;
                        background-color: #1a1a1a;
                    }
                }
            }
        }

        //team頁面中fancy裡面的樣式
        .prev,
        .next {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            pointer-events: auto;
            padding: 1vw;
            height: fit-content;
            cursor: pointer;
        }

        .prev {
            left: -6vw;
        }

        .next {
            right: 3.5vw;
        }
    }

    .portfolio {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background-color: #fff;

        .left {

            width: pxConvertor(840);
            height: 100%;
            margin-left: pxConvertor(140);

            .slice-bg {
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 100%;
                height: 87%;
                z-index: 2;
                overflow: hidden;

                img {
                    will-change: transform;
                    -webkit-transform: translateZ(0);
                    -moz-transform: translateZ(0);
                    -ms-transform: translateZ(0);
                    -o-transform: translateZ(0);
                    transform: translateZ(0);
                    width: pxConvertor(151);
                    height: auto;
                    object-fit: contain;
                }

                & :nth-child(1),
                & :nth-child(3) {
                    align-self: center;
                    margin-top: 10vw;
                }

                & :nth-child(3) {
                    margin-top: 5vw;
                }

                & :nth-child(2) {
                    align-self: center;
                }

                & :nth-child(4) {
                    width: pxConvertor(237);
                }
            }

            .area {
                position: relative;
                margin-top: pxConvertor(166);
                width: 100%;
                z-index: 20;
                pointer-events: auto;

                &-title {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-bottom: pxConvertor(16);

                    h3 {
                        font-size: var(--ch_ml_text);
                        color: #00303C;
                        font-weight: 700;
                    }
                }

                &-form {
                    width: 100%;


                    &-head {
                        display: flex;
                        background-color: #00303C;
                        padding: pxConvertor(17) 0;
                        width: 100%;

                        h4 {
                            width: 50%;
                            text-align: center;
                            font-size: var(--ch_s_text);
                            color: #fff;
                            font-weight: 400;
                        }
                    }

                    &-body {
                        width: 100%;
                        height: 38vw;
                        overflow-y: scroll;


                        .box {
                            display: flex;
                            width: 100%;


                            p {
                                width: 50%;
                                text-align: center;
                                font-size: var(--ch_s_text);
                                color: #000000b4;
                                font-weight: 600;
                                letter-spacing: 0.05em;
                                padding: pxConvertor(24) 0;
                                background-color: #fff;
                            }

                            & :nth-child(1) {
                                background-color: #f2f2f2;
                            }
                        }

                        &::-webkit-scrollbar {

                            width: 2px;

                        }

                        &::-webkit-scrollbar-button {

                            background: transparent;

                        }

                        &::-webkit-scrollbar-track-piece {

                            background: #ebebeb;

                        }

                        &::-webkit-scrollbar-thumb {

                            border-radius: 4px;

                            background-color: #ACACAC;


                        }

                        &::-webkit-scrollbar-track {

                            box-shadow: transparent;

                        }
                    }
                }
            }

            .square-bg {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 100%;

                img {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: auto;
                    height: 95%;
                    will-change: transform;
                    -webkit-transform: translateZ(0);
                    -moz-transform: translateZ(0);
                    -ms-transform: translateZ(0);
                    -o-transform: translateZ(0);
                    transform: translateZ(0);
                }
            }

            .more {
                position: absolute;
                border: 1px solid $gold_color;
                padding: 0 2.2vw 0 0.9vw;
                width: fit-content;
                line-height: 1.8;
                cursor: pointer;
                right: 6.8vw;
                bottom: 4.43vw;
                pointer-events: auto;

                p {
                    @include para-ch();
                    color: $gold_color;
                    font-weight: 500;
                }

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                    right: 0.7vw;
                    width: 18%;
                    height: 1px;
                    background-color: $gold_color;
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                    right: 0.7vw;
                    width: 5%;
                    height: 1px;
                    background-color: $gold_color;
                    transform-origin: right center;
                    transform: rotate(35deg);
                }

                &:hover::after {
                    animation-name: more;
                    animation-duration: 1.5s;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

                &:hover::before {
                    animation-name: more2;
                    animation-duration: 1.5s;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }
            }
        }

        .right {
            width: 40%;
            margin-right: pxConvertor(121);
            padding-top: 4.7vw;

            .paraBox {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                margin-bottom: 4vw;

                .title {
                    width: 50%;
                    margin-bottom: 0.9vw;

                    h3 {
                        color: $gold_color;
                        font-size: var(--ch_m_text);
                        font-weight: 500;
                        text-align: end;
                        letter-spacing: 0.1em;
                        will-change: transform;
                        -webkit-transform: translateZ(0);
                        -moz-transform: translateZ(0);
                        -ms-transform: translateZ(0);
                        -o-transform: translateZ(0);
                        transform: translateZ(0);
                    }
                }

                .para {
                    width: 83%;

                    p {
                        @include para-ch();
                        font-size: var(--ch_xs_test);
                        font-weight: 500;
                        line-height: 1.5;
                        text-align: justify;
                        will-change: transform;
                        -webkit-transform: translateZ(0);
                        -moz-transform: translateZ(0);
                        -ms-transform: translateZ(0);
                        -o-transform: translateZ(0);
                        transform: translateZ(0);
                    }

                    & :nth-child(1) {
                        margin-bottom: 0.5vw;
                    }
                }
            }

            .imgBox {
                display: flex;
                justify-content: flex-end;
                position: relative;
                will-change: transform;
                -webkit-transform: translateZ(0);
                -moz-transform: translateZ(0);
                -ms-transform: translateZ(0);
                -o-transform: translateZ(0);
                transform: translateZ(0);
                pointer-events: auto;

                img {
                    width: pxConvertor(630);
                }

                p {
                    position: absolute;
                    font-size: var(--ch_s_text);
                    font-weight: 900;
                    color: #000000c7;
                    cursor: pointer;

                    padding: 0.5vw;

                    span {
                        margin: 0 0.7vw;
                        font-size: var(--ch_ml_text);
                        color: $gold_color;
                        font-weight: 700;
                    }
                }

                .taipei {
                    left: 7vw;
                    top: -0.6vw;
                }

                .newTaipei {
                    left: 7vw;
                    top: 7.1vw;
                }

                .linkou {
                    left: 7vw;

                    top: 3.3vw;
                }

                .taoyuan {
                    left: 7vw;
                    top: 10.7vw;
                }

                .box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: pxConvertor(87);
                    height: pxConvertor(45);
                    background-color: $gold_color;
                    left: 14.8vw;
                    top: 3.2vw;
                    pointer-events: auto;

                    p {
                        position: static;
                        color: #fff;
                        letter-spacing: 0.1em;
                        padding: 0;
                        pointer-events: none;
                    }

                    .thumbBox {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }

                    .en {
                        font-family: 'Cormorant Garamond', serif;
                        font-size: pxConvertor(8);
                        font-weight: 300;
                        line-height: 0;
                        margin-bottom: 0.4vw;
                    }

                    .ch {
                        font-size: pxConvertor(14);
                        font-weight: 600;
                        line-height: 0;
                        margin-top: 0.4vw;
                    }
                }
            }
        }

        .total {
            position: absolute;
            bottom: pxConvertor(146);
            right: pxConvertor(300);


            div {
                display: flex;
                align-items: center;
                overflow: hidden;

                p {
                    font-size: var(--ch_ml_text);
                    font-weight: 700;
                    color: #00303C;
                    letter-spacing: 0.02em;
                    will-change: transform;
                    -webkit-transform: translateZ(0);
                    -moz-transform: translateZ(0);
                    -ms-transform: translateZ(0);
                    -o-transform: translateZ(0);
                    transform: translateZ(0);
                }

                span {
                    display: inline-block;
                    font-family: 'Noto Serif JP', serif;
                    font-style: italic;
                    font-size: 5.92vw;
                    padding: 0 1.59vw;
                    // background: linear-gradient(90deg, #87512E 0%, #EADCA2 33%, #CEAE5D 66%, #F4E49D 100%);
                    margin-top: -2vw;
                    // background-clip: text;
                    // -webkit-background-clip: text;
                    // color: rgba(0, 0, 0, 0);
                    color: #dac48e;
                }
            }

            .case {
                margin-bottom: 0.1vw;
            }
        }
    }
}


.line {
    animation-name: line;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-delay: 1.5s;
    transform-origin: left center;
    transform: scaleX(0);
}

@keyframes line {


    100% {
        transform: scaleX(1);
    }
}