@import "_config";
@import "_index";
@import "_lifefunction";
@import "_team";
@import "_urban";
@import "_basicContent";
@import "_calculate";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: $white_color;
}

.react-pdf__Page {
    .annotationLayer {
        display: none;
    }

    .react-pdf__Page__textContent {
        display: none;
    }

    canvas {
        width: 100% !important;
        height: auto !important;
    }
}

.fadeIn {
    opacity: 0;

}

.fadeOut {
    opacity: 1;

}

@keyframes more {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(1vw);
        opacity: 0
    }

    51% {
        transform: translateX(-1vw);
        opacity: 0
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes more2 {
    0% {
        transform: translateX(0) rotate(35deg);
    }

    50% {
        transform: translateX(1vw) rotate(35deg);
        opacity: 0
    }

    51% {
        transform: translateX(-1vw) rotate(35deg);
        opacity: 0
    }

    100% {
        transform: translateX(0) rotate(35deg);
        opacity: 1
    }
}